.main{
    display: flex;
    gap: 40px;
    padding: 10px;
    margin: 100px;
    
}


.main > div{
    background-color: black;
    width: 80px;
    border-radius: 7%;
    color: white;
}

.card1{
    flex: 1;
    padding: 20px;
    margin: 40px;
    box-shadow: 10px;
}

.card1:hover{
    background-color: white;
    transition-duration: 1s;
    box-shadow: 0 0 75px rgba(0,0,0);
    scale: 1.3;
    color: black;
}

@media (max-width: 768px) {
    .main-content {
    flex-direction: column; /* Stacks the columns vertically */
    }
   }