.container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 140px;
    margin-left: 110px;
}

.container > div{
    padding: 30px;
    text-align: center;
    
}

.p{
    visibility: hidden;
}

.img:hover{
    scale: 1.2;
    transition-duration: 0.5s;
    
}